<!DOCTYPE html>
<html>
<head>
    <title>Photo Uploader - ASP.NET Sample</title>

    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="publisher" content="Homepage-Webhilfe" />
</head>
<body>
    <div style="margin: 0px auto; width: 800px; height:50px; text-align: left;">
        <h1>Welcome to Photo Uploader</h1>
     </div>
     <div style="margin: 0px auto; width: 800px; height:800px; text-align: left;">
         @RenderBody()
     </div>
     <div style="margin:0px auto;width:800px;text-align:left">
         <i>Copyright &copy; 2019 by Tobias Massoth</i>
     </div>
</body>
</html>